@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-bg: #fff;
    --color-primary: #6366f1;
    --color-border: #9ca3af;
    --color-border-secondary: #d1d5db;
    --color-default: #191919;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    background: var(--color-bg);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
