@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #f8f9fa;
    --color-primary: #495057;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    background: var(--color-bg);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
